.BuildControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.BuildControl button {
    display: block;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    width: 80px;
    border: 1px solid #acacac;
    cursor: pointer;
}

.BuildControl button:disabled {
    border-color: #c6c6c6;
    background-color: white;
    color: #aaa;
    cursor: default;
}

.BuildControl button:active:disabled {
    cursor: not-allowed;
}

.Label {
    padding: 10px;
    font-weight: bold;
    width: 80px;
}

.BuildControl .Less {
    border-color: mediumaquamarine;
    background-color: white;
    color: mediumaquamarine;
}

.BuildControl .More {
    border-color: mediumaquamarine;
    background-color: mediumaquamarine;
    color: white;
}

.BuildControl .Less:active,
.BuildControl .More:active {
    border-color: lightseagreen;
    background-color: lightseagreen;
    color: white;
}