button {
    border: 1px solid darkcyan;
    padding: 16px;
    background-color: white;
    color: darkcyan;
    font: inherit;
    cursor: pointer;
    transition: .3s ease;

    &:hover {
        background-color: darkcyan;
        color: white;
    }

    &.opened {
        border-color: lightseagreen;
        color: lightseagreen;

        &:hover {
        background-color: lightseagreen;
        color: white;
        }
    }
}

.color-red {
    color: firebrick;
}
.font-weight-700 {
    font-weight: 700;
}