.Backdrop {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    display: none;
}

/* .BackdropOpened {
    visibility: visible;
    opacity: 1;
    transition: all .3s ease-out;
}

.BackdropClosed {
    visibility: hidden;
    opacity: 0;
    transition: all 1s ease-out .15s;
} */

[class*="backdrop-fade"] {
    display: block;
}
.backdrop-fade-enter {
    transition: all .3s ease-out;
    opacity: 0;
}
.backdrop-fade-enter-active {
    opacity: 1;
}
.backdrop-fade-enter-done {

}
.backdrop-fade-exit {
    transition: all 1s ease-out .15s;
}
.backdrop-fade-exit-active {
    opacity: 0;
}
.backdrop-fade-exit-done {

}