.Modal {
    position: fixed;
    z-index: 200;
    border: 1px solid #eee;
    box-shadow: 0 2px 2px #ccc;
    background-color: white;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    top: 30%;
    left: 25%;
    width: 50%;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-100vh);
}

.ModalOpened {
    animation: openModal .3s ease-out forwards;
    transition: all .3s ease-out;
    visibility: visible;
}

.ModalClosed {
    animation: closeModal .3s ease-in forwards;
    transition: all 1s ease-out;
    visibility: hidden;
}

.modal-slide-enter {

}
.modal-slide-enter-done {
    animation: openModal .3s ease-out forwards;
    transition: all .3s ease-out;
    visibility: visible;
}
.modal-slide-exit {

}
.modal-slide-exit-done {
    animation: closeModal .3s ease-in forwards;
    transition: all 1s ease-out;
    visibility: hidden;
}

@keyframes openModal {
    0% {
        opacity: 0;
        transform: translateY(-100vh);
    }
    50% {
        opacity: 1;
        transform: translateY(-90vh);
    }
    100% {
        opacity: 1;
        transform: translateY(0vh);
    }
}

@keyframes closeModal {
    0% {
        opacity: 1;
        transform: translateY(0vh);
    }
    50% {
        opacity: 1;
        transform: translateY(-66vh);
    }
    100% {
        opacity: 0;
        transform: translateY(-100vh);
    }
}