.NavigationItem {
    margin: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 100%;
    a {
        text-decoration: none;
        height: 100%;
        padding: 0 10px;
        border-bottom: 4px solid transparent;
        box-sizing: border-box;

        &:hover,
        &:active,
        &.active {
            border-color: aqua;
        }
    }
}